<div class="car-data-view-container">

  <!-- Sticky Filter + Paginator -->
  <div class="car-filter-sticky-header">
    <div class="car-filter-bar">
      <!-- Price From -->
      <mat-form-field appearance="outline">
        <mat-label>Price From</mat-label>
        <mat-select [(ngModel)]="filters.priceFrom">
          <mat-option *ngFor="let price of priceOptions" [value]="price">
            {{ price | currency:'USD' }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Price To -->
      <mat-form-field appearance="outline">
        <mat-label>Price To</mat-label>
        <mat-select [(ngModel)]="filters.priceTo">
          <mat-option *ngFor="let price of priceOptions" [value]="price">
            {{ price | currency:'USD' }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Mileage To -->
      <mat-form-field appearance="outline">
        <mat-label>Mileage To (km)</mat-label>
        <mat-select [(ngModel)]="filters.mileageTo">
          <mat-option *ngFor="let m of mileageOptions" [value]="m">
            {{ m | number }} km
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Year From -->
      <mat-form-field appearance="outline">
        <mat-label>Year From</mat-label>
        <mat-select [(ngModel)]="filters.yearFrom">
          <mat-option *ngFor="let year of years" [value]="year">
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Year To -->
      <mat-form-field appearance="outline">
        <mat-label>Year To</mat-label>
        <mat-select [(ngModel)]="filters.yearTo">
          <mat-option *ngFor="let year of years" [value]="year">
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Buttons -->
      <button mat-raised-button color="primary" (click)="applyFilter()">Apply</button>
      <button mat-raised-button (click)="clearFilter()">Clear</button>
    </div>

    <!-- Sticky Paginator -->
    <app-paginator
      [length]="totalCars"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)">
    </app-paginator>
  </div>

  <!-- Car list -->
  <ng-container *ngIf="cars$ | async as cars">
    <app-car-data-view [cars]="cars"></app-car-data-view>
  </ng-container>

</div>
